<!---<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<br><br><br>
<form action="/add">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Student ID</label>
        <input type="password" class="form-control" id="id">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">First Name</label>
        <input type="password" class="form-control" id="fname">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="password" class="form-control" id="lname">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mailing Address</label>
      <input type="password" class="form-control" id="madd">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">GPA</label>
        <input type="password" class="form-control" id="gpa">
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>

<div class="container">
  <form method="POST">
    <fieldset>
      <legend>Add a Student</legend>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
  <br>
  {% include 'messages.html' %}
  <br><br>
  <div>
    <button type="button" class="btn btn-primary btn-lg"><a href='/show' style="color: white">Home</a></button>
  </div>
</div>